@import "../utils/Colors.scss";

.blog-container {
  height: fit-content;
  width: 100%;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: 0.4s ease-in-out;
  &:hover {
    box-shadow: rgba(99, 15, 179, 0.5) 5px 5px, rgba(99, 15, 179, 0.3) 10px 10px,
      rgba(99, 15, 179, 0.1) 15px 15px;
    transform: scale(1.1) !important;
  }
  .image1 {
    width: 100%;
    height: 20rem;
    background-image: url(../../img/blogCook.webp);
    background-size: 100%;
    &:hover {
      animation: movimiento 25s infinite linear alternate;
    }
  }
  .image2 {
    width: 100%;
    height: 20rem;
    background-image: url(../../img/fondoPortafolio.webp);
    background-size: 100%;
    &:hover {
      animation: movimiento 25s infinite linear alternate;
    }
  }
  .image3 {
    width: 100%;
    height: 20rem;
    background-image: url(../../img/Movilizatee.webp);
    background-size: 100%;
    &:hover {
      animation: movimiento 25s infinite linear alternate;
    }
  }
  @keyframes movimiento {
    from {
      background-position: top;
    }
    to {
      background-position: bottom;
    }
  }

  .content {
    padding: 1rem;
    .title {
      h3 {
        color: $buttonBlueColor;
      }
    }
    .subTitle {
      p {
        color: $blackColor;
      }
    }
    a {
      margin-bottom: 3rem !important;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .blog-container {
    .content {
      .subTitle {
        p {
          color: $blackColor;
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .blog-container {
    .image1 {
      animation: movimiento 25s infinite linear alternate;
    }
  }
}
