@import "../utils/Colors.scss";

.testimonial-container {
  height: 100%;
  width: 50%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: 0.4s ease-in-out;
  p{
    opacity: 0;
    color: white;
    font-style: oblique;
  }
  &:hover {
    transform: 
      scale(1.2)
      rotate(10deg)
      !important;
    p{
      opacity: 1;
    }
  }
  .image {
    height: 6rem;
    img {
      max-height: 100%;
      max-width: 100%;
      
    }
  }
}
