@import "../utils/Colors.scss";
.title {
  margin-bottom: 2rem;
  h2 {
    margin-bottom: 0.7rem;
    font-size: xx-large;
  }
  .black{
      color: $blackColor;
    }
  .white{
      color: $whiteColor;
    }
  div {
    height: 0.3rem;
    width: 3rem;
    border-radius: 0.1rem;
  }
  .sub {
    background-color: $buttonBlueColor;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
